@model TemplateWeb.Common.ViewModels.mUserChangePasswordVW
@{
    ViewBag.Title = "Reset Password";
}
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id = "FormResetPassword", autocomplete = "off" }))
{
    <fieldset>
        @Html.AntiForgeryToken()

        <div class="login-logo">

            <a href=""><b>Reset Password</b></a>
        </div>

        <div class="form-group has-feedback">
            Dear @Model.txtName, enter your new password ...
            @Html.HiddenFor(a => a.txtName)
            @Html.HiddenFor(a => a.intUserID)
        </div>    

        <div class="form-group has-feedback">
            @Html.PasswordFor(a => a.txtNewPassword, new { @class = "form-control", @autocomplete = "off", placeholder = "New Password", tabindex = "2" })
            @Html.ValidationMessageFor(model => model.txtNewPassword, "", new { @class = "text-danger" })
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>     

        <div class="form-group has-feedback">
            @Html.PasswordFor(a => a.txtRetypeNewPassword, new { @class = "form-control", @autocomplete = "off", placeholder = "Retype Password", tabindex = "2" })
            @Html.ValidationMessageFor(model => model.txtRetypeNewPassword, "", new { @class = "text-danger" })
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>     

        <div class="form-group has-feedback">
            @if (@ViewBag.Message != null)
            {
                <i class="fa fa-check text-green" style="font-size:12px;"></i> @ViewBag.Message
            }

            @if (@ViewBag.Error != null)
            {
                <i class="fa fa-times text-red" style="font-size:12px;"></i> @ViewBag.Error
            }

        </div>

        <div class="row">
            <div class="col-xs-4">
                <button id="btn-login" type="submit" class="btn btn-primary btn-block btn-flat">Reset</button>
            </div>
            <div class="col-xs-8 text-right">
                <a href="@Url.Action("Login","Account")"><i class="fa fa-arrow-left" style="font-size:12px;"></i> Back to login?</a>
            </div>
        </div>

    </fieldset>
}



@section scripts{

    <script src="~/Scripts/customs/globalScript.js"></script>
    <script src="~/Scripts/customs/admins/loginScript.js"></script>
}




